<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secure Url Shortener Home Page</title>
    <link rel="stylesheet" href="homePage.css">
</head>
<body>
    <div class="container">
        <h1>Welcome To Secure Url Shortener Application </h1>
        <form method="GET" action="/app"><button class="tryOut" type="submit">Try It out</button></form>
    </div> 
</body>
</html>